body {
    background-image: url("../img/descarga.jpeg");
}

.blockquote2 {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 0.25rem solid orange;
  color:white
}

#Btnlogin{
  background-color: #0a428f;
}

#map{
  height: 50%;
}