body {
    background-image: url("../img/FondoAlquimia.jpg");
}

.blockquote2 {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 0.25rem solid orange;
  color:white
}

#Btnlogin{
  background-color: #187e8f;
}

label{
  color: white;
}

#map{
  height: 50%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}